<div class="grid-y grid-div">
    <header-box [headerName]='header' class="cell small-1"></header-box>
    <div class="cell small-11 table-widget">
        <div class="top-header">
            <a data-open="newCategoryModal" class="new-category-link float-right" (click)="openNewCategoryModal()">Add a new category</a>
            <div class="reveal tiny category-modal" id="newCategoryModal" data-reveal #newCategoryReveal>
                <h5>Add category</h5>
                <form #addCategoryForm="ngForm">
                <label>Category Name:
                    <input [(ngModel)]="newCategoryName" type="text" name="name" required minlength="1" #newCategory />
                </label>
                <div [ngClass]="{'invisible': !newCategory.valid || newCategory.pristine }" class="incorrect-category-name text-center">
                    <p>Category name is empty!</p>
                </div>
                <div class="button-group float-right">
                    <button class="secondary button close-btn" data-close type="button" (click)="close()">Close</button>
                    <button class="success button save-category-btn float-right" type="button" [disabled]="!addCategoryForm.form.valid" (click)="saveNewCategory()" data-close>Save</button>
                </div>
                <button class="close-button" data-close type="button" (click)="close()">
                    &times;
                </button>
                </form>
            </div>
        </div>
        <table class="hover table-box">
            <thead>
                <tr>
                    <th width="150">Categories</th>
                    <th width="150">No of Categories</th>
                    <th width="150"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categoryTypes">
                    <td>{{category.name}}</td>
                    <td>{{category.products?.length}}</td>
                    <td>
                        <edit [categoryModel]="category"></edit>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer"></div>
    </div>
</div>