.table-box {
    border: solid 1px rgb(247, 247, 247);
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
}

.table-div {
    padding: 1.2rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    height: 100%;
}

thead th {
    height: 4rem;
    background-color: rgb(248, 247, 247);
}

table tr:nth-child(odd) td{
    background-color: rgba(250, 255, 255, 0.486);
}

table tr:nth-child(even) td{
    background-color: rgba(223, 231, 243, 0.637);
}


