<div class="grid-y grid-div">
    <header-box [headerName]='header' class="cell small-1"></header-box>
    <div class="cell small-11 table-div">
        <div class="top-header">
            <a data-open="categoryModal1" class="new-category-link">Add a new category</a>
            <div class="reveal tiny category-modal" id="categoryModal1" data-reveal>
                <h5>Add category</h5>
                <label>Category Name:
                    <input [(ngModel)]="categoryName" type="text" placeholder="" />
                </label>
                <div *ngIf="wrongCategoryName" class="incorrect-message">
                    <p>Category name already exists!</p>
                </div>
                <div class="button-group float-right">
                    <button class="secondary button close-btn" data-close type="button">Close</button>
                    <button class="success button save-category-btn float-right" type="button" (click)="saveNewCategory()">Save</button>
                </div>
                <button class="close-button" data-close type="button">
                    &times;
                </button>
            </div>
        </div>
        <table class="hover table-box">
            <thead>
                <tr>
                    <th width="150">Categories</th>
                    <th width="150">Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks">
                    <td>{{stock.categoryName}}</td>
                    <td>{{stock.stockNumber}}</td>
                </tr>
            </tbody>
        </table>
        <div class="footer"></div>
    </div>
</div>