@import url('https://fonts.googleapis.com/css?family=Coiny');
@import '~foundation-sites/scss/foundation';

.top-bar-title {
    font-family: 'Coiny', cursive;
    font-size: 22px;
    color: #ffffff;
}

.nav-menu a {
    color: black;
}