<a data-open="categoryEditModal" class="edit-category-link">edit</a>
<div class="reveal tiny category-edit-modal" id="categoryEditModal" data-reveal #editReveal>
    <h5>Edit category</h5>
    <label>Category Name:
        <input [(ngModel)]="categoryName" type="text" placeholder="" />
    </label>
    <div [ngClass]="{'invisible': !emptyCategoryName}" class="incorrect-category-name text-center">
        <p>Category name is empty!</p>
    </div>
    <div class="button-group float-right">
        <button class="secondary button close-btn" data-close type="button" (click)="close()">Close</button>
        <button class="success button save-category-btn float-right" type="button" (click)="saveNewCategory()">Save</button>
    </div>
    <button class="close-button" data-close type="button" (click)="close()">
        &times;
    </button>
</div>