a, .reveal{
    outline-width: 0;
}

.button-group .button {
    margin-right: 5px;
}

.category-edit-modal label {
    padding-top: 1rem;
    border-top: solid 1px rgba(128, 128, 128, 0.404);
    border-radius: 0;
}

input {
    display: inline-block;
    width: 12rem;
    margin-left: 1rem;
    margin-bottom: 1%;
}

.incorrect-category-name {
    color: red;
    font-size: 14px;
    font-size: 1rem;
}

a {
    outline-width: 0;
}