ul {
    list-style: none;
    margin-bottom: 0;
    color: transparent;
}
.top-bar {
    height: 4rem;
    border-bottom: 0.05rem solid lightgray;
}

.top-bar, .top-bar ul {
  
    background-color: rgb(252, 252, 252);
}
