<div class="login-comp row small-up-1 ">
    <div class="column">
        <label>Name:
            <input [(ngModel)]="account.name" type="text" placeholder="name" />
        </label>
        <label>Password:
            <input [(ngModel)]="account.password" type="password" placeholder="password" />
        </label>
        <div *ngIf="showMessage" class="incorrect-message">
            <p>The User Name or Password is Incorrect!</p>
        </div>
        <button (click)="login()" class="hollow button custom-btn">Login</button>
    </div>
</div>