.header-box {
    background-color: rgb(252, 252, 253);
    height: 6rem;
    width: 100%;
    border: solid 1px rgba(247, 247, 247, 0.856);
    border-radius: 0;
    box-shadow: 0 0 0 1.2px rgba(10, 10, 10, 0.2);
    display: table;
}

.header-box h5{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1rem;
    color: rgb(107, 106, 106);
}
