.disable-click {
    pointer-events: none;
    cursor: default;
}

.button {
    border: none;
    margin-bottom: 0;
}

.logout-box {
    width: auto;
    height: auto;
    margin: auto;
}

.logout-btn {
    display: block;
    margin: auto;
    padding: auto;
}

a {
    outline-width: 0;
}