.disable-click {
    pointer-events: none;
    cursor: default;
}

.button {
    border: none;
}

.logout-box {
    width: 6rem;
}

.logout-btn {
    display: block;
    margin: auto;
    padding: auto;
}
