<a data-open="productNewModal" class="new-product-link float-right" (click)="openNewCategoryModal()">Add a New Product</a>
<div class="reveal  small new-product-modal" id="productNewModal" data-reveal #addProductReveal>
    <h5>Add Product</h5>
    <form #addProductForm="ngForm">
        <label>Name:
            <input [(ngModel)]="newProduct.name" type="text" name="name" required minlength="1" />
        </label>
        <label>Price:
            <input [(ngModel)]="newProduct.price" type="text" name="price" required minlength="1" />
        </label>
        <label>Stock:
            <input [(ngModel)]="newProduct.stock" type="text" name="stock" required minlength="1" />
        </label>
        <label>Category:</label>
        <select [(ngModel)]="newProduct.category" name="category" required>
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
        <div [ngClass]="{'invisible':  !addProductForm.form.valid}" class="incorrect-product-name text-center">
            <p>Completed Product fields are incorrect!</p>
        </div>
        <div class="button-group float-right">
            <button class="secondary button close-btn" data-close type="button" (click)="close(); addProductForm.reset()">Close</button>
            <button class="success button save-category-btn float-right" type="button" [disabled]="!addProductForm.form.valid" (click)="saveEditedCategory(); addProductForm.reset()">Save</button>
        </div>
        <button class="close-button" data-close type="button" (click)="close(); addProductForm.reset()">
            &times;
        </button>
    </form>
</div>